<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h2>Pinned lists</h2>
  </ion-item>
  <ion-card *ngFor="let list of pins" [navPush]="listPage" [navParams]="list">
    <ion-card-header>
      {{list.title}}
    </ion-card-header>
  </ion-card>

  <ion-item>
    <h2>Public lists</h2>
  </ion-item>

  <ion-card *ngFor="let list of lists" [navPush]="listPage" [navParams]="list">
    <ion-card-header>
      {{list.title}}
    </ion-card-header>
  </ion-card>

  <ion-fab bottom right #fab>
    <button ion-fab color="dark">
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" [navPush]="newListPage">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab color="primary" [navPush]="linkPage">
        <ion-icon name="link"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
